*{
	/*resets everything!*/
	margin:0;
	padding:0;
  text-align: center;

}

body{
  background-attachment:fixed;
  background-image: url('files/web-background.png');
  background-position: left bottom;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: #845bab;

}
.center-positioning{
	position: relative;
	top: 140px;
}
.container{
  width:60%;
  margin:auto;
  overflow:hidden;
}

#main-header{
  color:rgba(255, 255, 255, 0.7);
  font-family: 'Gelasio', serif;
  font-size: 34px;
	margin-bottom: 25px;

}

#intro{
	color:rgba(255, 255, 255, 0.7);
	font-family: 'Quicksand', sans-serif;
	font-size: 17px;
	margin-bottom: 25px;
}

ul{
  font-family: 'Quicksand', sans-serif;
  list-style:none
}

#navbar li{
  display: inline-block;
	margin-left: 10px;
  margin-right: 10px;

}


#navbar a{
  text-decoration: none;
  color:rgba(255, 255, 255, 0.7);
  font-size: 17px;
}


#icons{
	color: #42207d;
}

#navbar a:hover{
  color:hotpink;
	border-color: hotpink;
}

#footer{
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	color:rgba(255, 255, 255, 0.7);
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 15px;
}

::-moz-selection {
  background: #ffffff;
  text-shadow: none;
}

::selection {
  background: #ffffff;
  text-shadow: none;
}

@media (max-width: 600px) {
  body {
    background-image: url('files/mobile-background.png');
  }
	.container{
		width:80%;
	}
	#main-header{
		font-size: 20px;
	}
	#intro{
		font-size: 14px;
	}
	#navbar a{
		font-size: 12px;
	}

	#navbar li{
		margin-left: 7px;
	  margin-right: 7px;
	}
	#footer{
		font-size: 10px;
	}
}
